<mat-card>
  <mat-card-header>
    <mat-card-title>Inscription</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width form-field">
        <mat-label>Email</mat-label>
        <input matInput [formControl]="email" type="email" required (blur)="updateErrorMessages()" />
        @if (email.invalid && (email.dirty || email.touched)) {
          <mat-error>{{ emailError() }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width form-field">
        <mat-label>Mot de passe</mat-label>
        <input matInput [formControl]="password" type="password" required (blur)="updateErrorMessages()" />
        @if (password.invalid && (password.dirty || password.touched)) {
          <mat-error>{{ passwordError() }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width form-field">
        <mat-label>Confirmer le mot de passe</mat-label>
        <input matInput [formControl]="confirmPassword" type="password" required (blur)="updateErrorMessages()" />
        @if (confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)) {
          <mat-error>{{ confirmError() }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width form-field">
        <mat-label>Rôle</mat-label>
        <mat-select [formControl]="role" required (selectionChange)="updateErrorMessages()">
          <mat-option value="CLIENT">Client</mat-option>
          <mat-option value="SAV">SAV</mat-option>
        </mat-select>
        @if (role.invalid && (role.dirty || role.touched)) {
          <mat-error>{{ roleError() }}</mat-error>
        }
      </mat-form-field>


      <div class="actions">
        <button mat-button routerLink="/" type="button">
          <mat-icon>arrow_back</mat-icon>
          Retour
        </button>

        <button mat-raised-button color="primary" type="submit"
                [disabled]="email.invalid || password.invalid || confirmPassword.invalid">
          S'inscrire
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
